@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin flexy($disp: flex, $dir: null, $ali: null, $just: null) {
  display: $disp;
  flex-direction: $dir;
  align-items: $ali;
  justify-content: $just;
}

@mixin mq {
  @media ($break-m) {
    @content;
  }
}
