/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @include mq {
    @include center;
    max-width: 1400px;
  }
}

.row {
  @include flexy(flex, column);
  padding: 1em 10px;
  @include mq {
    @include flexy($dir: row);
  }
}

[class^="col"] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq {
    @include flexy($just: center, $ali: center);
    margin-top: 0;
    & + & {
      margin-left: 10px;
    }
  }
}

@for $i from 1 through 12 {
  .theme.col-#{$i} {
    background-color: nth($grid-colors, $i);
  }
}

.card {
  flex-basis: 100%;
}
