/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media ($break-m) {
  .centered {
    @include center;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: nth($flex-basis, $i);
    }
  }

  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}
